@use "@helpers" as *;

.config {

	&Summary {
		grid-area: config-summary;
		align-self: end;
		justify-self: end;
		border-radius: var(--border-radius);
		background-color: var(--color-grey-dark);
		padding: rem(15) rem(30);

		display: flex;
		flex-direction: column;

		&DeleteBtn {
			align-self: center;
			font-size: rem(14);
		}

		@include desktop-above {
			width: 70%;
		}

		@include tablet {
			order: 1;
			align-self: center;
			width: 70%;
		}

		@include mobile {
			width: 70%;
		}

		@include mobile-s {
			width: 100%;
		}
	}

	&Price {
		font-size: rem(16);

		display: flex;
		justify-content: space-between;
		align-items: center;

	}
}

.price{

	&List {
		margin-top: rem(10);
		padding-top: rem(10);
		border-top: var(--border);
	}

	&Item {
		&:not(:last-child) {
			padding-bottom: rem(5);
			margin-bottom: rem(5);
		}
	}
}