@use '@helpers' as *;

.exterior {
	&Swiper {
		&Title {
			padding-left: rem(35);
			margin-bottom: rem(20);
			font-weight: 400;
		}
	}

	&Wrapper {
		//max-width: rem(450) !important;
		height: rem(300) !important;
		background-color: var(--color-grey-dark) !important;
		border-radius: var(--border-radius-large) !important;
		padding-block: rem(30) !important;
	}

	&Slide {



	}
}