@use "@helpers" as *;

.searchMenu{
	@include mobile-above {
		position: relative;
	}
}

.dropDownModal {
	position: absolute;
	z-index: 1000;
	background-color: var(--color-light);
	padding: rem(30);

	opacity: 0;
	visibility: hidden;
	transition-duration: var(--transition-duration);
	&.open {
		opacity: 1;
		visibility: visible;
	}

	&::before {
		content: '';
		position: absolute;
		top: rem(-15);
		left: 0;
		width: 100%;
		height: rem(15);
		background: transparent;
	}

	@include mobile {
		width: 100vw;
		height: 100vh;
		top: 0;
		left: 0;
	}

	@include mobile-above {
		top: 100%;
		right: rem(-100);
		width: 50vw;
		height: rem(400);
		border-radius: var(--border-radius);
		box-shadow: 0 0 rem(10) rem(3) var(--color-dark);
	}
}

.initialSearch {

	&Data {
		display: grid;
		grid-template-columns: repeat(3, 1fr);

		&[data-is-hidden="true"] {
			display: none;
		}

		@include desktop {
			grid-template-columns: repeat(2, 1fr);
		}
	}
}

.searchData {
	&[data-is-visible="false"] {
		display: none;
	}
	&[data-is-visible="true"] {
		display: block;
	}
}