@use '@helpers' as *;

.footer {
	color: var(--color-light);
	background-color: var(--color-dark);
	margin-top: var(--section-padding-y);

	&Inner {
		padding-block: rem(50);

		@include mobile {
			padding-block: rem(35);
		}
	}

	&Wrapper {
		display: flex;
		column-gap: rem(100);

		padding-bottom: rem(50);
		margin-bottom: rem(50);
		border-bottom: 1px solid var(--color-light);

		@include tablet {
			align-items: center;
			flex-direction: column;
		}

		@include mobile {
			padding-bottom: rem(35);
			margin-bottom: rem(35);
		}
	}
}