@use '@helpers' as *;

.body {
	display: flex;
	flex-direction: column;
	justify-content: center;

	padding-inline: rem(50);

	background-color: var(--color-dark);
	color: var(--color-light);

	@include tablet {
		order: 1;
		padding-block: rem(50);
	}

	@include mobile-s {
		padding-inline: rem(25);
	}

	> h2 {
		margin-bottom: rem(30);

		@include tablet {
			text-align: center;
		}
	}

	> p {
		margin-bottom: rem(30);

		@include tablet {
			text-align: center;
		}
	}

	> button {
		align-self: flex-start;

		@include tablet {
			align-self: center;
		}
	}
}