@use "@helpers" as *;

.option {

	&Content, &TextContent {
		@include flex-center();
		flex-direction: column;
		row-gap: rem(20);
	}

	&TextContent {
		width: 80%;
		@include desktop {
			width: 65%;
		}
		@include tablet {
			width: 70%;
		}
	}

	&Content {
		width: 65%;
	}

	&TextTitle {
		text-align: center;

		@include tablet {
			@include fluid-text(18, 24)
		}
	}

	&Title {
		text-align: center;
		font-weight: 400;
		@include tablet {
			@include fluid-text(18, 24)
		}
	}

	&Price {
		font-size: rem(14);
		padding: rem(10) rem(20);
		border-radius: var(--border-radius);
		background-color: var(--color-dark);
		color: var(--color-light);
	}

	&Img {
		border-radius: var(--border-radius);

		@include tablet {
			//max-width: 80%;
		}
	}

	&Description {
		@include desktop {
			font-size: rem(16);
		}
	}
}