@use "@helpers" as *;

.header {
	background-color: var(--bg-color-header);

	&[data-is-home-page='false'] {
		--bg-color-header: var(--color-grey-dark);
		--color-header: var(--color-dark);
	}

	&[data-is-home-page='true'] {
		position: fixed;
		top: 0;
		left: 0;
		z-index: 1000;
		width: 100%;
		transition-duration: var(--transition-duration);
	}

	&Inner {
		position: relative;
		height: var(--height-header);
		display: flex;
		align-items: center;
	}
}

.widgetsWrapper{
	width: 100%;
	display: flex;
	column-gap: rem(75);

	justify-content: end;

	@include mobile {
		column-gap: rem(25);
	}

	@include mobile-s {
		column-gap: rem(20);
	}
}