@use "@helpers" as *;

.icons {

	&List {
		@include flex-center();

		column-gap: rem(25);

		@include mobile-s {
			column-gap: rem(20);
		}
	}

	&Item {
		@include square(30);
	}

	button {
		@include reset-button();

		img {
			object-fit: cover;
		}
	}
}

.widgetButton {

	@include hover {
		& path {
			stroke: var(--color-red) !important;
			fill: var(--color-red) !important;
		}
	}

	& svg {
		width: rem(25);
		height: rem(25);
	}

	& path {
		stroke: var(--color-header) !important;
		fill: var(--color-header) !important;
	}
}

