@use '@helpers' as *;

.backButton {
	@include flex-center(true);
	column-gap: rem(15);

	position: relative;
	&::before {
		content: '';

		display: block;
		width: rem(40);
		height: rem(10);

		background: url("@assets/icons/arrow-left.svg") center/cover no-repeat;
		transition-duration: var(--transition-duration);
	}

	@include hover {
		opacity: 0.5;
		&::before {
			transform: translateX(rem(-15));
		}
	}
}