@use "@helpers" as *;

.configSummary {
	align-self: start;
	position: sticky;
	top: rem(20);

	width: 100%;
	border-radius: var(--border-radius-large);
	background-color: var(--color-dark);
	padding: rem(30);
	color: var(--color-light);

	&[data-is-skeleton='true']{
		border: rem(3) solid var(--color-grey-dark);
		@include skeleton-animation();
		height: rem(250);
	}

	> h3 {
		font-weight: 400;
		text-align: center;
		margin-bottom: rem(20);
	}

	&Item {
		padding-bottom: rem(20);
		border-bottom: rem(1) solid var(--color-light);

		&:not(:last-child) {
			margin-bottom: rem(20);
		}
	}
}