@use "@helpers" as *;

@keyframes upAnimation {
	from{
		top: 0;
	}
	to {
		top: -55%;
	}
}

.section {
	padding-bottom: var(--section-padding-y);
}

.wrapper {
	display: flex;
	justify-content: space-between;
	position: relative;
	margin-bottom: rem(120);
}

.modelName {
	@include abs-center();
	font-weight: 400;

	&[data-is-skeleton="true"] {
		@include skeleton-animation();

		border: rem(3) solid var(--color-grey-dark);
		border-radius: var(--border-radius);
		width: rem(400);
		height: rem(75);
	}
}

.saveConfigButton {
	display: inline-flex;
	align-items: end;
	column-gap: rem(15);

	&[data-is-disabled="true"] {
		cursor: not-allowed;
	}

	&::after {
		@include square(30);

		content: '';
		background: url('@assets/icons/save-configuration.svg') center/contain no-repeat;
		transition-duration: var(--transition-duration);
	}

	&[data-is-disabled="false"] {
		@include hover {
			opacity: 0.5;
			&::after {
				transform: rotate(360deg);
			}
		}
	}
}

.preview {

	&Skeleton {
		@include skeleton-animation();


		position: relative;
		left: 50%;
		translate: -50% 0;
		height: rem(300);
		width: 50%;
		border: rem(3) solid var(--color-grey-dark);
		border-radius: var(--border-radius-large);
	}

	&Slide {
		display: flex !important;
		justify-content: center !important;
		align-items: center !important;
		height: rem(300) !important;
	}

	&Img {
		height: 100%;
		object-fit: contain;
	}

	&Img.img-0 {
		max-width: 60%;
	}

	&Img.img-1 {
		max-width: 30%;
	}

	&Wrapper {
		position: relative;

		&::after {
			content: attr(data-model-row);

			position: absolute;
			z-index: -1;
			top: -55%;
			left: 50%;
			translate: -50% 0;

			display: block;
			font-size: rem(200);
			font-weight: 500;
			color: var(--color-grey);
			opacity: 0.9;
			letter-spacing: rem(-10);

			animation: upAnimation 1s;
			animation-iteration-count: 1;
		}
	}
}

