@use 'functions' as *;

@mixin fluid-text($min, $max) {
	font-size: #{fluid($min, $max)};
}

@mixin flex-center($is-inline: false) {
	@if ($is-inline) {
		display: inline-flex;
	} @else {
		display: flex;
	}

	align-items: center;
	justify-content: center;
}

@mixin abs-center() {
	position: absolute;
	top: 50%;
	left: 50%;
	translate: -50% -50%;
}

@mixin square($width) {
	width: #{rem($width)};
	height: #{rem($width)};;
}

@mixin reset-button() {
	background: none;
	border: none;
}

@mixin reset-link() {
	color: inherit;
	text-decoration: none;
}

@mixin visually-hidden() {
	position: absolute !important;
	width: 1px !important;
	height: 1px !important;
	margin: -1px !important;
	border: 0 !important;
	padding: 0 !important;
	white-space: nowrap !important;
	clip-path: inset(100%) !important;
	clip: rect(0 0 0 0) !important;
	overflow: hidden !important;
}

@mixin linear-shift-bg-animation($color) {
	@keyframes linearBgAnimation {
		from {
			background-position: left;
		}
		to {
			background-position: right;
		}
	}

	@if ($color=='dark') {
		background: var(--dark-red-gradient-background);
	} @else if($color=='light') {
		background: var(--light-red-gradient-background);
	}

	background-size: 200% auto;
	background-clip: text;
	color: transparent;

	animation: linearBgAnimation 1.5s infinite alternate linear;
}

@mixin skeleton-animation() {
	@keyframes shimmer {
		0% {
			background-position: -200% 0;
		}
		100% {
			background-position: 200% 0;
		}
	}

	background: linear-gradient(
					45deg,
					var(--color-grey-light) 0%,
					var(--color-grey-light) 40%,
					var(--color-light) 60%,
					var(--color-grey-light) 80%,
					var(--color-grey-light) 100%
	);
	background-size: 200% 100%;

	animation: shimmer 1.5s infinite;
}

