@use "@helpers" as *;

.search{

	&Menu {
		position: relative;
	}

	&Wrapper {
		display: flex;
		gap: rem(20);
		width: 100%;
	}
}

.cancelButton{
	@include fluid-text(14, 16);

	overflow: hidden;
	position: relative;
	&::before {
		content: "";

		position: absolute;
		top: 80%;
		left: -100%;

		width: 100%;
		height: rem(1);
		background-color: currentColor;

		transition-duration: var(--transition-duration);
	}

	@include hover {
		&::before {
			left: 0;
		}
	}
}

.dropDownModal {
	z-index: 1000;
	position: absolute;
	top: 100%;
	right: rem(-100);

	background-color: var(--color-light);
	width: rem(550);
	height: rem(300);
	padding: rem(30);
	border-radius: var(--border-radius);
	box-shadow: 0 0 rem(10) rem(3) var(--color-dark);

	opacity: 0;
	visibility: hidden;
	transition-duration: var(--transition-duration);
	&.open {
		opacity: 1;
		visibility: visible;
	}
}

