@use "@helpers" as *;

.searchInfo {

	&Wrapper {
		display: grid;
		grid-template-columns: repeat(2, 1fr);

		@include tablet {
			display: block;
		}

		@include mobile {
			display: grid;
		}

		@include mobile-s {
			display: block;
		}
	}

	&Img{


		&List {
			display: flex;
			flex-direction: column;
			row-gap: rem(35);
			max-height: rem(300);
			overflow-y: auto;
			scrollbar-width: thin;
			scrollbar-color: var(--color-grey-light);
			padding-right: rem(5);

			@include tablet {
				display: none;
			}

			@include mobile {
				display: flex;
				max-height: 80vh;
			}

			@include mobile-s {
				display: none;
			}
		}

		&Item {
			display: flex;
			flex-direction: column;
			align-items: center;
			row-gap: rem(10);


			padding: rem(15);
			background-color: var(--color-grey-light);
			border-radius: var(--border-radius);
		}

		&Title {
			@include fluid-text(14, 16);
			font-weight: 400
		}
	}

}

.skeleton {

	&LinkList, &ImgList{
		display: flex;
		flex-direction: column;
		row-gap: rem(20);

	}

	&ImgList {
		@include tablet {
			display: none;
		}

		@include mobile {
			display: flex;
		}

		@include mobile-s {
			display: none;
		}
	}

}

.searchTitle {
	@include fluid-text(18, 20);
	@include linear-shift-bg-animation('dark');

	margin-bottom: rem(15);
}