@use "@helpers" as *;

.controlsWrapper {

}

.toggleButton {
	@include reset-button();
	@include flex-center(true);
	@include square(90);

	border: rem(2) solid var(--color-light);
	border-radius: var(--border-radius);

	position: absolute;
	bottom: 10%;
	right: 8%;

	z-index: 10;

	@include hover{
		border-color: var(--color-red);

		svg path{
			stroke: var(--color-red);
			fill: var(--color-red);
		}
	}

	@include mobile {
		@include square(60);
		bottom: 5%;
	}


	svg {
		@include square(40);

		@include mobile {
			@include square(25)
		}
		path {
			fill: var(--color-light);
			stroke: var(--color-light);
		}
	}

}