@use "@helpers" as *;

.config {

	&Wrapper {

		display: flex;
		flex-direction: column;
		row-gap: rem(30);

		@include mobile-above {
			display: grid;
			grid-template-columns: 8fr 3fr;
			column-gap: rem(50);
			position: relative;
		}

		@include tablet {
			grid-template-columns: 6fr 3fr;
		}
	}

	&Header {
		position: relative;
		margin-bottom: rem(100);
	}

	&BackButton {
		align-self: start;
	}

	&Title {
		text-align: center;
		font-weight: 400;
		margin-bottom: rem(70);
		&[data-is-skeleton="true"] {
			@include skeleton-animation();

			height: rem(50);
			border-radius: var(--border-radius);
			border: rem(3) solid var(--color-grey-dark);
			width: 50%
		}
	}
}