@use '@helpers' as *;

.socials {

	> h3 {
		margin-bottom: rem(40);

		@include mobile {
			margin-bottom: rem(25);
		}
	}

	> p {
		margin-bottom: rem(25);
	}

	@include tablet {
		> h3, p {
			text-align: center;
		}
	}

	&List {
		display: grid;
		grid-template-columns: repeat(6, 1fr);
		gap: rem(25);

		@include mobile {
			grid-template-columns: repeat(3, 1fr);
		}

	}

	&Link {
		padding: rem(20);
		background-color: var(--color-light);
		border-radius: var(--border-radius-small);

		@include hover {
			opacity: 0.75
		}
	}
}