@use "@helpers" as *;

.config {

	&Wrapper {
		padding-block: rem(30);
		background-color: var(--color-grey-dark);
		border-radius: var(--border-radius-large);
	}

	&Title {
		@include fluid-text(18, 20);

		padding-left: rem(30);
		margin-bottom: rem(20);
	}

	&Swiper {

	}

	&Slide {
		display: flex !important;
		justify-content: center !important;
		align-items: center !important;
	}
}


