@use "@helpers" as *;

@keyframes linearBgAnimation {
	from {
		background-position: left;
	}
	to {
		background-position: right;
	}
}

.wrapper {
	> h2 {
		text-align: center;
		margin-bottom: rem(70);
		transition-duration: var(--transition-duration);
		background-clip: text;

		&.dark {
			@include linear-shift-bg-animation('light');
		}
	}
}