.video {
	height: 100%;
	width: 100%;
	object-fit: cover;

	z-index: -1;

	-webkit-object-fit: cover;
	-moz-object-fit: cover;

	&::-webkit-media-controls {
		display: none !important;
	}

	&::-webkit-media-controls-panel {
		display: none !important;
	}

	&::-webkit-media-controls-play-button {
		display: none !important;
	}

	&::-webkit-media-controls-timeline {
		display: none !important;
	}

	&::-webkit-media-controls-current-time-display {
		display: none !important;
	}

	&::-webkit-media-controls-time-remaining-display {
		display: none !important;
	}

	&::-webkit-media-controls-mute-button {
		display: none !important;
	}

	&::-webkit-media-controls-fullscreen-button {
		display: none !important;
	}

	pointer-events: none;
}