@use "helpers" as *;

:root {

	// Определение цветов
	--color-light: #FFFFFF;
	--color-dark: #000000;
	--color-grey-light: #F5F5F5;
	--color-grey-dark: #E7E8EA;
	--color-red: #FF0000;

	// Определение шрифтов
	--font-family-base: 'Futura-new-book', sans-serif;

	// Определения параметров контейнера
	--container-width: 1280px;
	--container-padding-inline: rem(20);

	// Определение border'ов
	--border: rem(1) solid var(--color-dark);
	--border-radius: ;
	--border-radius-large: rem(45);
	--border-radius-small: rem(7);

	--transition-duration: 0.2s;
}