@use "helpers" as *;

:root {

	// Определение цветов
	--color-light: #FFFFFF;
	--color-dark: #000000;
	--color-grey-light: #F5F5F5;
	--color-grey-dark: #E7E8EA;
	--color-red: #FF0000;

	// Определение шрифтов
	--font-family-base: 'Futura-new-book', sans-serif;

	// Определения параметров контейнера
	--container-width: 1280px;
	--container-padding-inline: 20px;

	// Определение border'ов
	--border: 1px solid var(--color-dark);
	--border-radius: 14px;
	--border-radius-large: 45px;
	--border-radius-small: 7px;

	--transition-duration: 0.35s;

	// Цвет элементов header
	--color-header: var(--color-light);
	--bg-color-header: transparent;
	--height-header: 100px;
	@include mobile {
		--height-header: 80px;
	}

	// Определение отступов между секциями
	--section-padding-y: 70px;
	@include mobile {
		--section-padding-y: 35px;
	}
}