@use "@helpers" as *;

.description {

	&Wrapper {
		position: absolute;
		z-index: 10;

		bottom: 15%;
		left: 10%;

		cursor: pointer;
		@include hover {

			.descriptionTitle {
				color: var(--color-red);
			}

			.descriptionButton {
				border-color: transparent;
				&::before {
					left: 0;
				}
			}
		}
	}

	&Title {
		@include fluid-text(40, 80);
		color: var(--color-light);

		transition-duration: var(--transition-duration);

		margin-bottom: rem(10);
	}

}