@use "@helpers" as *;

.skeletonCard {
	background-color: var(--color-light);
	padding: rem(30);
	border-radius: var(--border-radius-large);

	* {
		@include skeleton-animation();

		border-radius: var(--border-radius);
	}

	&FuelType {
		max-width: rem(60);
		height: rem(30);
		border-radius: var(--border-radius-small);
		margin-bottom: rem(15);
	}

	&Img {
		max-width: 100%;
		height: rem(125);
		margin-bottom: rem(35);
	}

	&Title {
		max-width: 60%;
		height: rem(35);
		margin-bottom: rem(35);
	}

	&Info {

		&List {
			max-width: 75%;
			margin-bottom: rem(25);
			height: rem(150);
		}

		&Item {
			display: flex;
			flex-direction: column;
		}
	}

	&Button {
		display: block;
		width: 100%;
		height: rem(40);
		pointer-events: none;
	}
}